# Maven
target/
*.jar
*.war
*.ear
*.class
*.classpath

# Spring Boot
**/*application-dev.properties
**/*application-prod.properties

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
*.swp
*.swo
*~

# Build
*.log
build/
dist/

# Environment
.env
.env.local
